.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.top-nav{
  display: flex;
    justify-content: space-between;
}
.top-nav a{
  color: #fff;
  text-decoration: none;
}
.top-nav a:hover{
  text-decoration: underline;
  color: #ffd;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul.navigation {
  background-color: #3f51b5;
  padding: 0;
  margin: 0;
  border-top: 2px solid #fff;
  min-height: calc(100vh - 53px);
}
ul.navigation li{
  margin: 0;
}
ul.navigation li a{
  display: block;
  margin:0;
      color: #fff;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
}
li.tt {
    line-height: 70px;
    color: #fff;
    list-style: none;
        cursor: pointer;
            margin-left: 109px;
}
